<!DOCTYPE html>
<html>
<head>
    <title>Crop Selection</title>
</head>
<body>
    <h1>Choose Your Current Crop!</h1>
    <form action="http://127.0.0.1:5000/process_data" method="POST">
    <label for="crop">Select a Crop:</label>
    <select id="crop" name="crop" >
        <option value="select">Select a Crop</option>
        <option value="Onions">Onions</option>
        <option value="Garlic">Garlic</option>
        <option value="Chives">Chives</option>
        <option value="Shallots">Shallots</option>
        <option value="Broccoli">Broccoli</option>
        <option value="Cauliflower">Cauliflower</option>
        <option value="Cabbage">Cabbage</option>
        <option value="Chinese_Cabbage">Chinese Cabbage</option>
        <option value="Mustard_Greens">Mustard Greens</option>
        <option value="Collards">Collards</option>
        <option value="Zucchini">Zucchini</option>
        <option value="Cucumbers">Cucumbers</option>
        <option value="Squash">Squash</option>
        <option value="Pumpkins">Pumpkins</option>
        <option value="Melons">Melons</option>
        <option value="Soybeans">Soybeans</option>
        <option value="Peas">Peas</option>
        <option value="Tomatoes">Tomatoes</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Peppers">Peppers</option>
        <option value="Carrots">Carrots</option>
        <option value="Parsnips">Parsnips</option>
        <option value="Fennel">Fennel</option>
        <option value="Parsley">Parsley</option>
    </select>
    <input type="Submit" value="Submit">
</form>
</body>
</html>